.menu-bar {
  width: 100%;
  float: left;
  box-shadow: inset 0px 0px 15px 0px #b0c8e2;
}

.menu-bar li {
  float: left;
  list-style: none;
}

.menu-bar li a {
  text-decoration: none;
  padding: 6px 15px;
  margin: 2px auto;
  display: block;
  color: black;
  font-weight: 600;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-bar li:hover {
  background: #dde6f0;
}

.text-input {
  width: 100%;
}

li img {
  width: 20px;
  height: 20px;
}

.heading-span,
.all-layers-heading-span {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  float: left;
  width: 100%;
}

.all-layers-heading-span {
  background-color: #b0c8e2;
  padding: 5px;
  border-bottom: 2px solid #ababab;
  box-sizing: border-box;
  margin-bottom: 0;
}

.manipulators {
  border-top: 1px solid darkgray;
  padding-top: 5px;
}

.sliders {
  margin: 0 7px;
}

.slider-name {
  font-size: 11px;
}
