.menu-bar {
  width: 100%;
  float: left;
}

.menu-bar li {
  list-style: none;
  padding: 2px 4px;
  margin: 2px auto;
  background-color: lightgray;
  border-radius: 50%;
}

.menu-bar li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.text-input {
  width: 100%;
}

li img {
  width: 20px;
  height: 20px;
}

.heading-span {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.layer-info span {
  font-size: 11px;
  display: block;
  text-align: center;
}
